{% extends "layout.html" %}
{% block body %}
<div class="about">
     <img src="{{url_for('static',filename='images/gold.jpg')}}" alt="images/doggo" class="dog">
     <div class="about-sub">
        <h1 class="header">OUR DOG</h1>
        <p>A dog is one of the helpful animals that consist of a fluffy hairy body.Dogs
           help in protecting a house from thieves and fraud people during the night. 
           There are so many breeds available on earth. They love to enjoy their time with
           their owner and family. He also protects their family members from strangers. 
           Instead, they remain gentle and loyal to their family. Dogs also enjoy morning
           and evening walk with their owners. They need fresh and healthy food for the
           better growth of their body. They can eat fresh milk and meat for building strength.
           Dogs also lick their owner to make the owner understand their love.</p>
     </div>
</div>
<div class="quiz">
    <p>All are familiar that a dog is a four feet pet that<br>consists
        of thin legs</p>
    <div class="animation" style="   background:url('static/images/hussk.jpg');
    background-size: cover;
     height: 20rem;
     width: 43.7rem;
     margin:3rem 0rem;
     border-radius: 1cm;">
        <div class="animation-inner">
            <h3 style="text-align: start;margin-left: 1.8rem;font-size: 32px;margin-bottom: -5rem; color: aliceblue;" onmouseover="changetext(this,'HAPPY')" onmouseout="changetext(this,'pet me')">pet<br>me</h3>
            <h2 class="header">surprize!</h2>
            <p>find the best breed for you help yourself haha ahha hahaha shshsjb bsjvbasasbjh</p>
            <button class="btn"><a href="{{url_for('home')}}" style="color:black">Take Quiz</a></button></div>
        
        </div>
</div>

<div class="comparision">
  <div class="sub-comparision">
   <div class="card">
       <div class="image"><img src="{{url_for('static',filename='images/download.jpeg')}}" alt=""></div>
       <div class="content">
          <div class="content-sub">
            <h3  id="compare">German Shepherd</h3><br>
            <h4 class="font">height:3inch</h1>
              <h4 class="font">weigh:40kg</h1>
              <h4 class="font">strength:90</h4>
            <br>
            <p id="compare">this is german Shepherd strongest dog</p>
          </div>
      </div>
   </div>

   <div class="card">
    <div class="image"><img src="{{url_for('static',filename='images/pit.png')}}" alt=""></div>
    <div class="content">
      <div class="content-sub">
        <h3>Pit Bull</h3><br>
        <h4 class="font">height:3inch</h1>
        <h4 class="font">weigh:40kg</h1>
        <h4 class="font">strength:90</h4>
        <br>
        <p>this is german Shepher`d strongest dog</p>
        </div> 
      </div>
</div>

<div class="card">
  <div class="image"><img src="{{url_for('static',filename='images/lab.jpg')}}" alt=""></div>
  <div class="content">
    <div class="content-sub">
      <h3>Labrador</h3><br>
      <h4 class="font">height:</h1>
      <h4 class="font">weight:</h1>
      <h4 class="font">strength:</h4>
      <br>
      <p>this is german Shepherd strongest dog</p>
    </div>
</div>
</div>
</div>
<button class="btn btn-compare"><a href="{{url_for('compare')}}" style="color:black;">Compare</a></button>
</div>
{% endblock %}