{% extends "layout.html"%}
{% block body %}
	<h1>Dog Supplies Store</h1>
	<div class="container">
		<div class="card-2">
			<img src="https://tse4.mm.bing.net/th?id=OIP.ljYW5ibHQIA2XU5ktNq5UgHaE7&pid=Api&P=0" alt="Dog Food">
				<h2>Dog Food</h2>
				<a href="https://amzn.eu/d/anIz9X4" target="_blank">View product</a>
		</div>
		<div class="card-2">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8RDX5Stk4ua28lrWwTqyNMTv3ttj0xy5kIYdyVNkJNw&usqp=CAU&ec=48600113" alt="Dog Collar">
				<h2>Dog Collar</h2>
				<a href="https://headsupfortails.com/collections/collars" target="_blank">View product</a>
		</div>
		<div class="card-2">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJNFvohUnLSVczE2EKt6GEo5nhsDxdZ0sSI_CAyglTrg&usqp=CAU&ec=48600113" alt="Dog Leash">
				<h2>Dog Leash</h2>
				<a href="https://headsupfortails.com/collections/dog-leashes" target="_blank">View product</a>
		</div>
    </div>
        
    <div class="container"><br><br><br></div>
        <div class="container">
		<div class="card-2">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ48n9dyon1V0lkIrKWnc-tqYwoMX4suL0NwnzCOSGsZw&usqp=CAU&ec=48600113" alt="Dog Toy">
				<h2>Dog Toy</h2>
				<a href="https://pawsindia.com/collections/chew-teething-toys" target="_blank">View product</a>
		</div>
		<div class="card-2">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx-8YKFli27oTMT288D4dVFNn1uRwFb5QxVCdD8dwf3A&usqp=CAU&ec=48600113" alt="Dog Bed">
				<h2>Dog Bed</h2>
				<a href="https://pawsindia.com/collections/dog-beds-den" target="_blank">View product</a>
		</div>
		<div class="card-2">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSSNYnCQBEVSFEJLW7in2ewkbiE1Bu8VJ0kapX1OhAPN6S3rgMODxU0J2ot0xMFFhV50wN3OSeiQI&usqp=CAU&ec=48600113" alt="Dog Treat">
				<h2>Dog Treat</h2>
				<a href="https://amzn.eu/d/0U43ig6" target="_blank">View product</a>
		</div>
	</div>
    <div><br><br><br><br><br><br><br><br><br><br></div>
    
{% endblock %}