body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    height: 199%;
}
header {
    font-family: 'Delicious handrawn', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fee0c7;
    height: 65px;
    padding: 1rem;

}
.header{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 4rem;
    font-stretch: 2rem;
    color: #363434;
}
.navbar {
    margin-left: 30rem;
}

.navbar li {
    display: inline-flex;
    padding: 1rem;
}

.navbar a {
    color: black;
    font-size: larger;
}

.nav {
    padding: 0rem 5rem;
}
.logo {
    width: 3rem;
}
.btn {
    position: relative;
    font-family: sans-serif;
    font-size: 0.5cm;
    margin: 32px;
    padding: 10px 25px;
    border: 4px #F0AC03 solid;
    border-radius: 30px;
    color: #363434;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1;    
    background-color: whitesmoke;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: inherit;
    background: #F0AC03;
    transition: all 0.7s ease;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
/* .card { */
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    /* padding: 20px; */
    /* text-align: center; */
/* } */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card{
position: relative;
height: 190px;
width: 350px;
background:linear-gradient(#ff9966,#ff5e62);
transition: all .3s ease;
border-radius: 10px;
}
.card:hover{
height:400px;
}
.card img {
    /* max-width: 100%; */
    /* margin-bottom: 10px; */
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.card a {
    display: block;
    background:linear-gradient(#602102,#8e3435);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.card a:hover {
    background: #333;
}
footer{
    background-color:#363434;
    height: 20rem;
}
.col p{
    padding-top:2rem;
 
 }
 .col .social-links{
     padding: 10px 0;
 }
 .col .social-links a{
     display:inline-block;
     height: 40px;
     width: 40px;
     background-color: #efecec;
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     transition: all 0.3s ease;
 }
 .col .social-links a:hover{
     background-color: rgb(45, 161, 161);
     color: #efecec;
 }
 .row{
    color: #efecec;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;

}