<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_comparison.css')}}">
    <title>Comparison</title>
 </head>
 <body>
    <header>
        <img src="{{url_for('static',filename='images/dog.png')}}" alt="doggie" class="logo"> 
        <ul class="navbar">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('store')}}">Store</a></li>
            <li><a href="">Clubs</a></li>
            <li><a href="">Event</a></li>
        </ul>
        <button class="btn">Register</button>
    </header>
    <!-- <h1 class="display-5 my-5 text-center">Comparison Page</h1> -->
    <div class="container">
        <div class="col-md-9" mx-auto >
            <table class="table">
                <tr>
                    <th>Select dog breed</th>
                    <th>
                        <select  class="form-control" id="select1" onchange="item1(this.value)">
                            <option value="0">---select any breed---</option>
                        </select>
                    </th>
                    <th>
                        <select  class="form-control" id="select2" onchange="item2(this.value)">
                            <option value="0">---select any breed---</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>Dog Image</th>
                    <td><img src="https://tse1.mm.bing.net/th?id=OIP.g3dccBvVM0UjMYwXvLJI6AHaFj&pid=Api&P=0" id="img1" alt="No Image avaliable">
                    </td>
                    <td><img src="https://tse1.mm.bing.net/th?id=OIP.g3dccBvVM0UjMYwXvLJI6AHaFj&pid=Api&P=0" id="img2" alt="No Image avaliable">
                    </td>
                </tr>
                <tr>
                    <th>Breeed name</th>
                    <td id="breed1">
                        NA
                    </td>
                    <td  id="breed2">
                        NA
                    </td>
                </tr>
                <tr>
                    <th>Temperament</th>
                    <td id="temperament1">
                        NA
                    </td>
                    <td id="temperament2">
                        NA
                    </td>
                </tr>
                <tr>
                    <th>Maximum weight</th>
                    <td id="MaxWeight1">
                        NA
                    </td>
                    <td id="MaxWeight2">
                        NA
                    </td>
                </tr>
                <!-- <tr>
                    <th>Minimum weight</th>
                    <td id="MinWeight1">
                        NA
                    </td>
                    <td id="MinWeight2">
                        NA
                    </td>
                </tr> -->
                <tr>
                    <th>Maximum height</th>
                    <td id="MaxHeight1">
                        NA
                    </td>
                    <td id="MaxHeight2">
                        NA
                    </td>
                </tr>
                <!-- <tr>
                    <th>Minimum Height</th>
                    <td id="MinHeight1">
                        NA
                    </td>
                    <td id="MinHeight2">
                        NA
                    </td>
                </tr> -->
                <tr>
                    <th>Grooming frequency</th>
                    <td id="grooming1">
                        NA
                    </td>
                    <td id="grooming2">
                        NA
                    </td>
                </tr>
                <tr>
                    <th>Shredding category</th>
                    <td id="shedding1">
                        NA
                    </td>
                    <td id="shedding2">
                        NA
                    </td>
                </tr>
                <tr>
                    <th>demeanor category</th>
                    <td id="demeanor1">
                        NA
                    </td>
                    <td id="demeanor2">
                        NA
                    </td>
                </tr>
            
            </table>
        </div>
    </div>
    <footer>
        <div class="row">
          <div class="col">
            <h3>customer care</h3>
            <p>+91 6370209541<br>Address:b/1297</p>
          </div>
          <div class="col">
            <h3>About us</h3>
            <p> dog breed pvt LTD<br>Copyright © 2023 dog breed. All rights reserved.<br></p>
          </div>
          <div class="col">
            <h3>Social Links</h3>
            <div class="social-links">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
    </footer>
 </body>
 </html>
 <script src="{{url_for('static',filename='js/data.js')}}"></script>
 <script>
    for(var i =1; i<data.length;i++){
        document.getElementById("select1").innerHTML +=`
        <option value="${i}">${data[i].Breed_name}</option>
        `;
        document.getElementById("select2").innerHTML +=`
        <option value="${i}">${data[i].Breed_name}</option>
        `;

    }
    function item1(a){
       var select2= document.getElementById("select2").value;
        if(a != select2){
            document.getElementById("img1").src = data[a].image;
            document.getElementById("breed1").innerHTML = data[a].Breed_name;
            document.getElementById("temperament1").innerHTML = data[a].temperament;
            document.getElementById("MaxWeight1").innerHTML = data[a].max_weight;
            document.getElementById("MaxHeight1").innerHTML = data[a].max_height;
            document.getElementById("grooming1").innerHTML = data[a].grooming_frequency_category;
            document.getElementById("shedding1").innerHTML = data[a].shedding_category;
            document.getElementById("demeanor1").innerHTML = data[a].demeanor_category;
        }
        else{
            document.getElementById("img1").src = data[0].image;
            document.getElementById("breed1").innerHTML = "Select a different breed"
            document.getElementById("temperament1").innerHTML = " ";
            document.getElementById("MaxWeight1").innerHTML = " ";
            document.getElementById("MaxHeight1").innerHTML = " ";
            document.getElementById("grooming1").innerHTML = " ";
            document.getElementById("shedding1").innerHTML = " ";
            document.getElementById("demeanor1").innerHTML = " ";
        }
    }
    function item2(a){
        var select1= document.getElementById("select1").value;
        if(a != select1){
            document.getElementById("img2").src = data[a].image;
            document.getElementById("breed2").innerHTML = data[a].Breed_name;
            document.getElementById("temperament2").innerHTML = data[a].temperament;
            document.getElementById("MaxWeight2").innerHTML = data[a].max_weight;
            document.getElementById("MaxHeight2").innerHTML = data[a].max_height;
            document.getElementById("grooming2").innerHTML = data[a].grooming_frequency_category;
            document.getElementById("shedding2").innerHTML = data[a].shedding_category;
            document.getElementById("demeanor2").innerHTML = data[a].demeanor_category;
        }
        else{
            document.getElementById("img2").src = data[0].image;
            document.getElementById("breed2").innerHTML = "Select a different breed"
            document.getElementById("temperament2").innerHTML = " ";
            document.getElementById("MaxWeight2").innerHTML = " ";
            document.getElementById("MaxHeight2").innerHTML = " ";
            document.getElementById("grooming2").innerHTML = " ";
            document.getElementById("shedding2").innerHTML = " ";
            document.getElementById("demeanor2").innerHTML = " ";
        } 
    }
 </script>